* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

ul, li {
  list-style-type: none;
}

body {
  color: black;
}

.wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}
.wrapper .content {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 12px 260px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 6px 13px -10px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 6px 13px -10px rgba(34, 60, 80, 0.2);
}
.header .header__logo {
  padding-top: 11px;
}
.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__nav a {
  color: black;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.header .header__nav a:hover {
  color: salmon;
}
.header .btn-secondary {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.header .dropdown-menu {
  padding-top: 10px;
  font-weight: 300;
  text-align: center;
}
.header .nav__number {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #0D1C41;
}
.header .nav__lk a {
  font-weight: 600;
}
.header .nav__lk .fa-user {
  padding-left: 5px;
  font-size: 20px;
}

.btn {
  border: none;
  background-color: #fff;
  color: black;
}

.first__screen {
  position: relative;
  width: inherit;
  height: 500px;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.15), -2px -2px 5px rgba(20, 29, 61, 0.15);
          box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.15), -2px -2px 5px rgba(20, 29, 61, 0.15);
  border-radius: 30px;
  padding-bottom: 108px;
}
.first__screen .first__screen-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 124px;
  padding-left: 98px;
}
.first__screen .first__screen-content .first__screen__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #0D1C41;
}
.first__screen .first__screen-content .first__screen__title span {
  font-weight: 700;
}
.first__screen .first__screen-content .first__screen__descr {
  padding-top: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #939CA6;
}
.first__screen .first__screen-content button {
  margin-top: 92px;
  width: 20%;
  height: 59px;
  border: 1px solid #4A607A;
  -webkit-box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
          box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 6px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}
.first__screen .first__screen-content button:hover {
  color: #fff;
  background-color: salmon;
  border: 3px solid #4A607A;
}
.first__screen img {
  position: absolute;
  top: 5%;
  left: 40%;
}

.second__screen {
  padding-top: 108px;
  padding-bottom: 119px;
  position: relative;
}
.second__screen .second__screen-title {
  text-align: center;
}
.second__screen .second__screen-cardblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 60px;
  padding-right: 35px;
  position: relative;
}
.second__screen .second__screen-cardblock:last-child {
  padding-right: 0px;
}

.cardblock-item {
  position: relative;
  width: 165px;
  height: 216px;
}
.cardblock-item .main-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 165px;
  height: 190px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
          box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 20px;
  z-index: 99;
}
.cardblock-item .main-item img {
  padding: 34px 48px 21px 48px;
}
.cardblock-item .main-item p {
  padding: 0px 17px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #0D1C41;
}
.cardblock-item .sub-item {
  position: absolute;
  bottom: 90%;
  width: 165px;
  height: 50px;
  background: #DDD0A4;
  border-radius: 20px 20px 0px 0px;
  z-index: 9;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 5px;
}

.third__screen {
  position: relative;
}
.third__screen .third__screen-title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  color: #000000;
}
.third__screen .third__screen-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-bottom: 9px;
}
.third__screen .third__screen-item .third__screen-item-name-block {
  position: relative;
}
.third__screen .third__screen-item .third__screen-item-content {
  padding-left: -105px;
}
.third__screen .third__screen-item p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #0D1C41;
}

.third__screen-item-name-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 28px;
}

.third__screen-item-descr-double {
  padding-left: 80px;
}

.third__screen-item-title-double {
  position: absolute;
  top: 16%;
  left: 38%;
}

.doctor-sign {
  padding-left: 80px;
  padding-bottom: 8px;
}

.stripe {
  position: absolute;
  top: 63.5%;
  right: -3%;
  z-index: 99;
}

.four__screen {
  position: relative;
}

.four__screen-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 130px;
  position: relative;
}

.four__screen-title {
  text-align: center;
}

.four__screen-cards-item-blue-sub {
  position: absolute;
  top: -5%;
  width: 385px;
  height: 169px;
  background: #4A607A;
  -webkit-box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
          box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 10px;
  z-index: 99;
}
.four__screen-cards-item-blue-sub h3 {
  padding-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}

.four__screen-cards-item-blue {
  position: absolute;
  top: 2.5%;
  padding: 43px 20px;
  width: 385px;
  height: 675px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
          box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  z-index: 999;
}
.four__screen-cards-item-blue li {
  padding-bottom: 7px;
}

.four__screen-cards-item-blue-button {
  position: absolute;
  top: 85%;
  padding-top: 10px;
  background: #FFFFFF;
  border: 1px solid #4A607A;
  -webkit-box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
          box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 6px;
  padding: 20px 63px;
  gap: 24px;
  z-index: -1;
}
.four__screen-cards-item-blue-button:hover {
  background-color: salmon;
  color: black;
}
.four__screen-cards-item-blue-button i {
  margin-left: 9px;
  font-size: 20px;
}

.drop {
  padding-left: 20px;
}
.drop button {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.four__screen-cards-item {
  position: relative;
  width: 365px;
  height: 1191px;
}

.four__screen-cards-item-sub {
  padding: 10px;
  position: absolute;
  left: 115%;
  top: -5%;
  width: 365px;
  height: 149px;
  background: #A89060;
  -webkit-box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
          box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 10px;
  z-index: 1;
}
.four__screen-cards-item-sub h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.four__screen-cards-item-sub p {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
}

.four__screen-cards-item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 115%;
  top: 2.5%;
  width: 365px;
  height: 1000px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
          box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 10px;
  z-index: 3;
  padding-top: 61px;
  padding-bottom: 61px;
}
.four__screen-cards-item-main .fa-check {
  color: #A89060;
}
.four__screen-cards-item-main h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 30px;
}

.buy__btn {
  padding: 20px 75px;
  gap: 27px;
  background: #FFFFFF;
  border: 1px solid #4A607A;
  -webkit-box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
          box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 6px;
}
.buy__btn:hover {
  color: black;
  background-color: salmon;
  border: 1px solid #980b0b;
}

.four__screen-cards-item-two {
  position: absolute;
  right: 34%;
}

.four__screen-cards-item-main-two h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #DC0000;
}
.four__screen-cards-item-main-two h1 span {
  padding-left: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #DC0000;
}

.five__screen {
  padding-bottom: 131px;
}

.five__screen-title {
  text-align: center;
  padding-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
  color: #000000;
}

.accordion-item {
  padding: 20px;
}
.accordion-item span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.accordion-item .accordion-body {
  padding-left: 12.2%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.six__screen-title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  color: #000000;
  padding-bottom: 43px;
}

.six__screen-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.six__screen-cards .six__screen-cards-item {
  width: 165px;
  height: 165px;
  background: #FFFFFF;
  border: 1px solid #4A607A;
  -webkit-box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
          box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 20px;
}
.six__screen-cards .six__screen-cards-item img {
  padding: 30px 55px 5px 55px;
  padding-bottom: 15px;
}
.six__screen-cards .six__screen-cards-item .six__screen-cards-item-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}
.six__screen-cards .six__screen-cards-item:hover {
  -webkit-box-shadow: 0px 40px 40px 0px rgba(227, 128, 128, 0.958);
          box-shadow: 0px 40px 40px 0px rgba(227, 128, 128, 0.958);
}

.soplya-bg {
  position: relative;
  padding-left: 60px;
  height: 241px;
}
.soplya-bg .soplya-bg-img {
  position: relative;
  width: 1060px;
  z-index: -99;
}
.soplya-bg .soplya-bg-content-uno {
  width: 420px;
  height: 153px;
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #000000;
}
.soplya-bg .soplya-bg-content-uno p {
  padding-top: 30px;
  font-weight: 500;
}
.soplya-bg .soplya-bg-content-uno ul {
  padding-top: 15px;
}
.soplya-bg .soplya-bg-content-uno ul li {
  padding-bottom: 15px;
  font-size: 15px;
}
.soplya-bg .soplya-bg-content-uno span {
  color: #A89060;
  text-decoration: underline;
}
.soplya-bg .soplya-bg-content-dos {
  width: 420px;
  height: 153px;
  position: absolute;
  top: 40%;
  left: 60%;
  z-index: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #000000;
}
.soplya-bg .soplya-bg-content-dos ul {
  padding-top: 20px;
}
.soplya-bg .soplya-bg-content-dos ul li {
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
}

.seven__screen {
  position: relative;
  padding-top: 189px;
  padding-bottom: 159px;
}
.seven__screen .seven__screen-title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  color: #000000;
  padding-bottom: 50px;
}
.seven__screen a {
  position: absolute;
  left: 40%;
}

.eight__screen {
  padding-bottom: 80px;
}
.eight__screen h1 {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  color: #000000;
}
.eight__screen p {
  text-align: center;
  padding-bottom: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #0D1C41;
}

.eight__screen-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

form {
  position: relative;
  width: 485px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 637px;
  background-color: rgba(255, 255, 255, 0.726);
  -webkit-box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
          box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 40px;
}
form .input-group:first-child {
  margin-top: 90px;
}
form a {
  position: absolute;
  top: 80%;
  left: 25%;
}

.fa-paper-plane {
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgb(138, 122, 83);
  background: #fff;
  font-size: 36px;
  padding: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgb(138, 122, 83);
          box-shadow: 0 0 10px rgb(138, 122, 83);
}
.fa-paper-plane:hover {
  font-size: 66px;
  -webkit-box-shadow: 0 0 50px rgb(138, 122, 83);
          box-shadow: 0 0 50px rgb(138, 122, 83);
}

.input-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  position: relative;
}

.input-group label {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
}

.input-group input, .input-group textarea {
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 10px 0;
  border-bottom: 1px solid #999;
  color: #333;
  font-size: 16px;
}

::-webkit-input-placeholder {
  font-size: 14px;
}

::-moz-placeholder {
  font-size: 14px;
}

:-ms-input-placeholder {
  font-size: 14px;
}

::-ms-input-placeholder {
  font-size: 14px;
}

::placeholder {
  font-size: 14px;
}

form button {
  background: #141a34;
  color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 10px 40px;
  outline: 0;
  cursor: pointer;
  display: block;
  margin: 30px auto 10px;
}

.eight__screen-img {
  position: absolute;
  left: 50%;
}

.footer {
  position: relative;
  width: 100%;
  height: 587px;
  background: #4A607A;
}
.footer .footer__container {
  position: relative;
  padding-top: 60px;
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
}
.footer .footer__container .first__link-block {
  position: absolute;
  left: -6%;
  padding-top: 87px;
  padding-left: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 416px;
  height: 312px;
}
.footer .footer__container .first__link-block a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.footer .footer__container .first__link-block a:hover {
  color: #A89060;
  text-decoration: underline;
}
.footer .footer__container .first__link-block li {
  padding-bottom: 22px;
}
.footer .footer__container .first__link-block li:last-child {
  padding-bottom: 0px;
}
.footer .footer__container .first__link-block .ul-one {
  padding-top: 55px;
}
.footer .footer__container .first__link-block .ul-two {
  padding-left: 40px;
  padding-bottom: 127px;
}
.footer .footer__container .second__footer-block {
  position: absolute;
  left: 50%;
  padding-top: 44px;
}
.footer .footer__container .second__footer-block p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #9C9C9C;
}
.footer .footer__container .second__footer-block .work-time {
  padding-top: 42px;
  padding-bottom: 70px;
}
.footer .footer__container .second__footer-block .second__footer-btn {
  width: 266px;
  height: 55px;
  padding: 18px 70.5px;
  background: #FFFFFF;
  border: 1px solid #4A607A;
  -webkit-box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #0D1C41;
}
.footer .footer__container .second__footer-block .second__footer-btn:hover {
  background-color: salmon;
  color: black;
}
.footer .footer__container .third__footer-block {
  padding-top: 45px;
  position: absolute;
  left: 85%;
  width: 277px;
  height: 310px;
}
.footer .footer__container .third__footer-block .adress-two {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #9C9C9C;
}
.footer .footer__container .third__footer-block .adress-two-tel {
  padding-top: 15px;
  padding-bottom: 30px;
}
.footer .footer__container .third__footer-block .adress-two-tel span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}
.footer .footer__container .third__footer-block .adress-two-tel a {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  text-decoration: underline;
}
.footer .footer__container .third__footer-block .adress-two-tel a:hover {
  color: salmon;
}
.footer .footer__container .third__footer-block .third__footer-block-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  padding-top: 25px;
}
.footer .footer__container .third__footer-block .third__footer-block-mail a {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: underline;
}
.footer .footer__container .third__footer-block .third__footer-block-mail a:hover {
  color: salmon;
}
.footer .footer__container .third__footer-block .third__footer-block-social {
  padding-top: 50px;
}
.footer .footer__container .third__footer-block .third__footer-block-social i {
  font-size: 50px;
  padding-right: 8px;
  color: white;
}
.footer .footer__container .third__footer-block .third__footer-block-social i:hover {
  padding-right: 15px;
  color: salmon;
  font-size: 40px;
}

hr {
  position: relative;
  top: 70%;
}

.footer__copyright {
  margin-top: 360px;
  position: relative;
}
.footer__copyright .footer__copyright-text {
  position: absolute;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #9C9C9C;
}/*# sourceMappingURL=style.css.map */